.login-container h1{  /*Styling the classname div (login-container) h1 tag*/
    color: #3d3838; /*Adding the heading colour of grey*/
}

.login-container{ /*Styling the classname div (login-container)*/
    position: relative;
    top: -1cm;
    width: 300px; /*Adding the width size of login container to 300 pixels*/
    padding: 20px; /*By setting the padding to 20 pixels, i am setting my elements in the login-comtainer on all sides of left, right, up and down by 20 pixels of padding*/
    margin: 8% auto 0; /*Sets the elements by top margin of 8%, sets all elementsd by left and right of auto and sets all elements by bottom by 0*/
    text-align: center; /*It alligns the text by center */
    color: black; /*Adds the text colour by black */
}

.login-container label{ /*Styling the classname div (login-container) label tag*/
    display: grid; /*It displays the container to grid, which means elements are laid out in grid layout*/
    font-size: 18px; /*It adds the font size to 18 pixels */
    font-weight: bold; /*It adds bold in all text*/
    color: black; /*Adding the text colour of black*/
    margin: 10px; /*Adds the spacing between the elements to 10 pixels*/
}

.login-container input{ /*Styling the classname div (login-container) input tag*/
    position: relative; /*By using position type of relative, i have freedom in locating the elements to any position and any pixes */
    width: 100%; /*By using 100% width, the input width size will fit in the parent container  */
    border: none; /*Removes the border*/
    border: 1px solid blue; /*Adds a new border of 1 pixels solid type border and colour blue*/
    border-radius: 6px; /*Adds the size of the border radius of 6 pixels*/
    outline: none; /*Removes the outline*/
    font-size: 20px; /*Adds the font size of the input tag to 20 pixels*/
    left: -20px; /*Moving all elements in login-container input box to the left by -20 pixels (moves the input box left) */
}

.login-details button{ /*Styling the button tag in the "login-details" div */
    border: none; /*Removes the border*/
    background-color: black; /*Adds the background colour of black in button*/
    outline: none; /*Removes the outline*/
    border: 1px solid white; /*Adds a new border of 1 pixels solid type border and colour white*/
    border-radius: 20px;/*Adds the size of the border radius of 20 pixels*/
    color: white; /*Adds the text colour in the button of white*/
    font-size: 25px; /*Adds the font size of the button tag to 25 pixels*/
    cursor: pointer; /*When the cursor lands in the button it will become pointer cursor */
}

.login-details button:hover{ /*By using :hover i am styling the login-details button tag when the mouse pointer lands on the button */
    color: yellow; /*Adding the text colour yellow when the pointer lands on the button */
}